*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #1f91ec;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
    @media screen and (max-width: 1440px){
        max-width: 1170px;
    }
    @media screen and (max-width: 768px){
        padding: 0 20px;
    }
}
.hidden{
    display: none;
}
img{
    max-width: 100%;
}
h1 {
    font-size: 64px;
    line-height: 1.2em;
    display: inline-block;
    @media screen and (max-width: 440px){
        font-size: 47px;
    }
    .fs-sm {
        font-size: 0.55em;
        line-height: 1.2em;
        display: block;
        font-weight: 500;
    }
}
.flex{
    display: flex;
    width: 100%;
    &.align-center{
        align-items: center;
    }
    &.justify-between{
        justify-content: space-between;
    }
}
.cl-white{
    color: #fff;
}
button{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: scale(0.95) translateZ(1px);
    }
    &.fake-btn{
        color: inherit;
        font-weight: inherit;
        text-shadow: inherit
    }
    &.disagree {
        transform: scale(1);
        &:hover{
            opacity: 0.8;
        }
    }
    &.disable{
        opacity: 0.3;
        pointer-events: none;
    }
}
input,button{
    -webkit-appearance: none;
    border: 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: transparent;

}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    height: 50px;
    padding: 17px 25px 10px 25px;
    border-radius: 25px;
    width: 100%;
    background: #fff;
}
button[type="submit"] {
    height: 50px;
    width: 130px;
    padding: 0 30px;
    border-radius: 30px;
    background: linear-gradient(45deg, #0c89ec, #59e5ff);
    color: #fff;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    box-shadow: 0px 0px 20px -11px #000;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    label {
        display: block;
        width: 100%;
        position: relative;
        margin-bottom: 18px;
    }
    .placeholder {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 25px;
        right: 25px;
        padding-right: 25px;
        color: #000000;
        transform-origin: center left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        transition: 0.3s;
    }
    .placeholder.active {
        transform: translateY(-24px) scale(0.6);
    }
    .error {
        width: 100%;
        height: 50px;
        margin-bottom: 18px;
        background: #E91E63;
        color: #fff;
        border-radius: 50px;
        padding: 10px 25px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 12px;
        overflow: hidden;
        box-shadow: 0px 0px 20px -11px #000;
        cursor: not-allowed;
        transform: scale(0.7);
        opacity: 0;
        transition: 0.2s ease-in-out;
    }
    .error.show{
        transform: scale(1);
        opacity: 1;
    }
    .fgt-pass{
        @media (max-width: 480px) {
            margin-left: 15px;
        }
    }
    a{
        text-decoration: none;
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1111;
    overflow: auto;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
    padding: 10vh 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.4s 0s;
    &-window{
        width: 430px;
        padding: 50px 2em 2em 2em;
        padding-top: 50px;
        border-radius: 35px;
        background-color: #fff;
        box-shadow: 0px 0px 50px -40px #000;
        opacity: 1;
        transform: scale(1);
        transition: 0.4s 0.4s;
        @media (max-width: 480px){
            padding: 50px 20px;
        }
        &_title{
            text-align: center;
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 21px;
        }
        .close{
            position: absolute;
            top: 20px;
            right: 30px;
            width: 30px;
            height: 30px;
            padding: 10px;
            margin-left: 10px;
            border-radius: 50%;
            background: linear-gradient(45deg, #0c89ec, #59e5ff);
            box-shadow: 0px 0px 20px -9px #000;
            img{
                display: block;
            }
        }
    }
    &.hide{
        visibility: hidden;
        opacity: 0;
        transition: 0.4s 0.4s;
        .modal-window{
            opacity: 0;
            transform: scale(1.05);
            transition: 0.4s 0s;
        }
    }
}
.errors-list {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 239px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 100%;
    overflow: hidden;
    .bottom-message {
        background: linear-gradient(45deg, #0c89ec, #59e5ff);
        padding: 10px;
        border-radius: 14px;
        color: #fff;
        font-size: 0.8em;
        margin: 5px 0;
        transform: scale(1);
        opacity: 1;
        cursor: pointer;
        box-shadow: 0px 0px 25px -20px #000;
        transition: opacity 0.2s, transform 0.3s cubic-bezier(0.21, 0.29, 0.55, 1.57);
        &:hover{
            transform: scale(0.95);
            opacity: 0.8;
        }
    }
    .bottom-message.hide {
        transform: scale(0.7);
        opacity: 0;
    }
}