body{
    padding: 100px 0px;
    min-height: 100vh;
    background: #3bc5f7;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 768px){
        padding: 60px 0px;
    }
    &:before, &:after{
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        top: -70px;
	    padding-bottom: 70px;
	    transform: translateY(70px);
        z-index: -1;
    }
    &:before{
        background: linear-gradient(45deg, #3dcdf7, transparent);
    }
    &:after{
        background: url(/image/heaven-1.png) no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
}
header{
    .section-title {
        text-align: center;
        font-size: 38px;
        line-height: 1.14em;
        margin-bottom: 20px;
        @media screen and (max-width: 480px){
            font-size: 30px;
        }
    }
    .search {
        align-items: center;
        flex-direction: row;
        max-width: 760px;
        margin: 0 auto;
        @media (max-width: 480px){
            flex-wrap: wrap;
            justify-content: center;
        }
        .tag-btn{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: linear-gradient(45deg, #0c89ec, #59e5ff);
            box-shadow: 0px 0px 20px -9px #000;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 21px;
            font-weight: bold;
            margin-right: 10px;
            img{
                width: 25px;
            }
        }
        label{
            width: auto;
            margin-bottom: 0px;
            flex-grow: 1;
            margin-right: 10px;
            @media (max-width: 480px){
                margin-right: 0px;
                margin-bottom: 10px;
                order: -1;
            }
        }
        &-reset {
            width: 0px;
            height: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            color: #fff;
            border-radius: 50%;
            background: linear-gradient(45deg, #E91E63, #F44336);
            box-shadow: 0px 0px 20px -8px #000;
            margin-right: 10px;
            transform: scale(0.5);
            opacity: 0;
            &.show {
                transform: scale(1);
                opacity: 1;
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                margin-right: 10px;
                &:hover{
                    transform: scale(0.95) translateZ(1px);
                }
            }
            & img {
                width: 16px;
            }
        }
        button{
            &.hide{
                width: 0;
                padding: 0;
                height: 0;
                transform: scale(0) !important;
                overflow: hidden;
            }
            @media screen and (max-width: 480px){
                font-size: 14px;
            }
        }
    }
}
.table{
    margin: 60px 0 0px;
    @media screen and (max-width: 980px){
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-right: -5px;
    }
    @media screen and (max-width: 768px){
        margin: 30px 0 0px;
    }
    &-filter{
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
    }
    &-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        border-radius: 20px;
        padding: 5px 15px;
        width: 100%;
        @media screen and (max-width: 560px){
            flex-direction: column;
        }
        &_cell{
            color: #fff;
            font-weight: bold;
            text-shadow: 1px 1px 0px #696969;
            padding: 0 5px;
            @media screen and (max-width: 768px){
                font-size: 14px;
            }
            @media screen and (max-width: 560px){
                margin-bottom: 5px;
            }
            .icon {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin-left: 10px;
                cursor: pointer;
                border-radius: 50%;
                background: linear-gradient(45deg, #0c89ec, #59e5ff);
                box-shadow: 0px 0px 20px -9px #000;
                display: inline-flex;
                padding: 8px;
                transition: 0.3s ease-in-out;
                &.reverse{
                    transform: rotate(180deg);
                }
            }
            &-title{
                font-weight: bold;
                width: 275px;
                flex-shrink: 0;
                @media screen and (max-width: 768px){
                    min-width: 235px;
                }
                @media screen and (max-width: 560px){
                    width: 100%;
                    text-align: center;
                }
            }
            &-tags {
                flex-grow: 1;
                text-align: center;
                @media screen and (max-width: 560px){
                    width: 100%;
                }
            }
            &-updated_at,
            &-date{
                width: 220px;
                flex-shrink: 0;
                text-align: right;
                @media screen and (max-width: 768px){
                    min-width: 190px;
                }
                @media screen and (max-width: 560px){
                    width: 100%;
                    text-align: center;
                }
            }

        }
    }
    &-body{
        width: 100%;
    }
    &-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        margin-bottom: 5px;
        border-radius: 20px;
        padding: 15px 15px;
        @media screen and (max-width: 768px){
            flex-direction: column;
        }
        &_cell{
            padding: 0 5px;
            &-title{
                font-weight: bold;
                width: 275px;
                flex-shrink: 0;
                @media screen and (max-width: 768px){
                    width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                }
                .author {
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 1.4em;
                }
            }
            &-tags {
                flex-grow: 1;
                text-align: center;
                @media screen and (max-width: 768px){
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            &-updated_at,
            &-date{
                width: 220px;
                flex-shrink: 0;
                text-align: right;
                @media screen and (max-width: 768px){
                    width: 100%;
                    order: 2;
                    text-align: center;
                    margin-bottom: 10px;
                    &:before{
                        content: 'Последнее исполнение:';
                        display: block;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
.tags-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: -4px;
    &_item {
        margin: 0 2px 4px;
        padding: 5px 10px;
        border: 2px solid #2195ed;
        border-radius: 23px;
        transition: 0.2s;
        @media screen and (max-width: 980px){
            font-size: 12px;
        }
        &.active{
            background: #2095ed;
            color: #fff;
        }
    }    
}
.tags-popup  {
    .tags-list{
        label{
            display: inline-block;
            width: auto;
            margin: 0;
            input:checked + .tags-list_item{
                background: #2095ed;
                color: #fff;
            }
        }
        &_item{
            cursor: pointer;
            &:hover{
                opacity: 0.7;
            }
            &.active{
                background: #2095ed;
                color: #fff;
            }
        }
    }
    .btns{
        width: 100%;
        margin-top: 30px;
        button{
            margin: 0 5px;
        }
    }
}