* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #1f91ec;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

img {
  max-width: 100%;
}

h1 {
  font-size: 64px;
  line-height: 1.2em;
  display: inline-block;
}

@media screen and (max-width: 440px) {
  h1 {
    font-size: 47px;
  }
}

h1 .fs-sm {
  font-size: 0.55em;
  line-height: 1.2em;
  display: block;
  font-weight: 500;
}

.flex {
  display: flex;
  width: 100%;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-between {
  justify-content: space-between;
}

.cl-white {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

form label {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 18px;
}

form .placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  right: 25px;
  padding-right: 25px;
  color: #000000;
  transform-origin: center left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  transition: 0.3s;
}

form .placeholder.active {
  transform: translateY(-24px) scale(0.6);
}

form input,
form button {
  border: 0;
  outline: none;
  font-size: inherit;
}

form input[type=text],
form input[type=email] {
  height: 50px;
  padding: 17px 25px 10px 25px;
  border-radius: 25px;
  width: 100%;
}

form .error {
  width: 100%;
  height: 50px;
  margin-bottom: 18px;
  background: #E91E63;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  font-size: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 20px -11px #000;
  cursor: not-allowed;
  transform: scale(0.7);
  opacity: 0;
  transition: 0.2s ease-in-out;
}

form .error.show {
  transform: scale(1);
  opacity: 1;
}

form button {
  height: 50px;
  width: 130px;
  padding: 0 30px;
  border-radius: 30px;
  background: linear-gradient(45deg, #0c89ec, #59e5ff);
  color: #fff;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  box-shadow: 0px 0px 20px -11px #000;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

form button:hover {
  transform: scale(0.95);
}

@media (max-width: 480px) {
  form .fgt-pass {
    margin-left: 15px;
  }
}

form a {
  text-decoration: none;
}

